<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=renderer content=webkit>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>vue-element-admin</title>
    <link rel="shortcut icon" href=./favicon.ico>
    <link href=./vueElement/css/app.243de52c97ec81089ed3d9a341bd5324.css rel=stylesheet>
</head>
<script src=./vueElement/tinymce/tinymce.min.js></script>
<body>
<div id=app></div>
<script type=text/javascript src=./vueElement/js/manifest.5363a23cebf3f7b37d8a.js></script>
<script type=text/javascript src=./vueElement/js/vendor.9c56c3511a4e70060f89.js></script>
<script type=text/javascript src=./vueElement/js/app.590b0dcc001156852a22.js></script>
</body>
</html>